/*(c) David Gruber 2011 */

body {
	font-family: Calibri,Helvetica;
	background-color: #E5E5E5;
}


h1 {
	color: Grey;
	font-family: Calibri
}


.transparent {
	opacity: .6;
}


.transparent:hover {
	opacity: 1;
}


.content_dings_top {
	background-image: url('img/dings.png');
	background-repeat: no-repeat;
	/*text-align: left;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;*/
	margin-top: -15px;
	width: 1000px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	/*border: thin solid #918f61; */
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
}


.content_header {
	background-image: url('img/header.png');
	background-repeat: no-repeat;
	/*text-align: left;*/
	padding-top: 30px;
	padding-left: 30px;
	/*padding-right: 20px;
	margin-top: 50px;*/
	width: 970px;
	height: 220px;
	margin-right: auto;
	margin-left: auto;
	/*border: thin solid #918f61;*/
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
}


.content_menu_bar{
	background-image: url('img/dings.png');
	background-repeat: no-repeat;
	/*text-align: left;*/
	width: 1000px;
	height: 85px;
	margin-right: auto;
	margin-left: auto;
	/*border: thin solid #918f61;*/
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
}


.content_box{
	background-color: Transparent;
	text-align: left;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	/*margin-top: 50px;*/
	width: 960px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	/* border: thin solid #918f61 */
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;			  
}


.content_text{
	background-color: #DCDCDC;
	text-align: left;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 710px;
	margin-top: 15px;
	/*margin-right: auto;*/
	/*margin-left: 0px;*/
	float: left;
	border: thin solid #918f61
	/*box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;*/				  
}


.content_sidebar{
	background-color: #DCDCDC;
	text-align: left;
	padding-top: 10px;
	padding-left: 15x;
	padding-right: 5px;
	padding-bottom: 10px;
	width: 200px;
	margin-top: 15px;
	/*margin-right: 5px;
	margin-left: auto;*/
	float: right;
	border: thin solid #918f61
	/*box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;*/			  
}


.content_links {
	text-align: left;
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	width: 500px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;	
	/* border: thin solid #918f61 */
}