/*(c) David Gruber 2011 */

body {
	font-family: Calibri,Helvetica;
	background-color: #E5E5E5;
}


h1 {
	color: Grey;
	font-family: Calibri
}


.transparent {
	opacity: .6;
}


.transparent:hover {
	opacity: 1;
}


.content_dings_top {
	background-image: url('img/dings.png');
	background-repeat: no-repeat;
	margin-top: -15px;
	width: 1000px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	/*text-align: left;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: thin solid #918f61;*/
}


.content_header {
	background-image: url('img/header.png');
	background-repeat: no-repeat;
	
	padding-top: 30px;
	padding-left: 30px;
	width: 970px;
	height: 220px;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	/*text-align: left;
	padding-right: 20px;
	margin-top: 50px;
	border: thin solid #918f61;*/
}


.content_menu_bar{
	background-image: url('img/dings.png');
	background-repeat: no-repeat;
	width: 1000px;
	height: 85px;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	/*border: thin solid #918f61;
	text-align: left;*/
}


.content_box{
	background-color: Transparent;
	text-align: left;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 960px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;	
	/*margin-top: 50px;
	border: thin solid #918f61 */	
}


.content_text{
	background-color: #DCDCDC;
	text-align: left;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 710px;
	margin-top: 15px;
	float: left;
	border: thin solid #918f61
	/*box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	margin-right: auto;
	margin-left: 0px;*/				  
}


.content_sidebar{
	background-color: #DCDCDC;
	text-align: left;
	padding-top: 10px;
	padding-left: 15x;
	padding-right: 5px;
	padding-bottom: 10px;
	width: 200px;
	margin-top: 15px;
	float: right;
	border: thin solid #918f61
	/*box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	-moz-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	webkit-box-shadow:   5px  5px  5px  #aaa,
                  -5px  5px  5px  #aaa;
	margin-right: 5px;
	margin-left: auto;*/				  
}


.content_links {
	text-align: left;
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	width: 500px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;	
	/* border: thin solid #918f61*/
}	/* border: thin solid #918f61 */
}